<html ng-app="app.todos">
    <head>
        <title>Todo App</title>
        <!-- load CDN style -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.1/css/xeditable.min.css" />
        
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.1/js/xeditable.min.js"></script>
        <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
        <script src="assets/js/main/app.js" ></script>
        <script src="assets/js/main/service.js" ></script>
    
    </head>

    <body ng-controller="todoController">
        <div class="container">
            <div class="jumbotron text-center">
                <h1>{{ appName }} <span class="label label-info">{{ todos.length }}</span></h1>
            </div>

            <div id="todoList" class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="checkbox" ng-repeat="todo in todos">
                        <input type="checkbox" ng-model="todo.isDone" ng-click="updateTodo(todo)" />
                        <a href ng-click="deleteTodo(todo)"><i class="fa fa-remove"></i></a>
                        <a href ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"><i class="fa fa-edit"></i></a>
                        <span ng-class="{strike: todo.isDone}" editable-text="todo.text" e-form="textBtnForm" onaftersave="updateTodo(todo)">{{ todo.text }}</span><br>
                    </div>
                    <p class="text-center" ng-show="loading"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></p>
                </div>
            </div>

            <div id="todoForm" class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <form>
                        <div class="form-group">
                            <input ng-model="formData.text" type="text" class="form-control input-lg text-center" placeholder="What do you want to do?" />
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="!formData.text" ng-click="createTodo()">
                            Add
                        </button>
                    </form>
                </div>
            </div>
        </div>
        
    </body>
</html>